.card {
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  text-align: center;
  background-color: white;
  color: black;
  transition: transform 0.3s ease;
  overflow : hidden;
}

.card:hover {
  transform: scale(1.05);
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
.in-stock {
  color: green;
  font-weight: bold;
}

.out-stock {
  color: red;
  font-weight: bold;
}
.star {
  font-size: 22px;
  cursor: pointer;
  color: gray;
  transition: 0.2s;
}

.star:hover {
  transform: scale(1.2);
}

.star.active {
  color: gold;
}
.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;   
  border-radius: 10px;
  margin-bottom: 10px;
}
