.app-container {
  text-align: center;
  width: 100%;
  padding: 40px;
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}
